body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header, footer {
    background: #c567ae;
    color: #0f0b0b;
    text-align: center;
    padding: 1em 0;
}

h1 {
    margin: 0;
}

main {
    padding: 2em;
}

section {
    margin-bottom: 2em;
}